<%= form_with(model: susciption) do |form| %>
  <% if susciption.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(susciption.errors.count, "error") %> prohibited this susciption from being saved:</h2>

      <ul>
        <% susciption.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :isWomen, style: "display: block" %>
    <%= form.check_box :isWomen %>
  </div>

  <div>
    <%= form.label :isMen, style: "display: block" %>
    <%= form.check_box :isMen %>
  </div>

  <div>
    <%= form.label :isChildren, style: "display: block" %>
    <%= form.check_box :isChildren %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
