<div id="<%= dom_id susciption %>">
  <p>
    <strong>Email:</strong>
    <%= susciption.email %>
  </p>

  <p>
    <strong>Iswomen:</strong>
    <%= susciption.isWomen %>
  </p>

  <p>
    <strong>Ismen:</strong>
    <%= susciption.isMen %>
  </p>

  <p>
    <strong>Ischildren:</strong>
    <%= susciption.isChildren %>
  </p>

</div>
