<section class="bannerSub">
  <div class="bannerSub__imagelogo center">
    <%= image_tag("micolet-logo.svg", :alt => "Logo Image") %>
    <%= I18n.t("hello") %>
    <%= I18n.locale %>
  
    <span>Moda casi nueva con garantía</span>
  </div>
  <div class="center">
    <h1>Welcome ! Soon we will lauch our ite in the country</h1>
    <h2>Subcribe to receive our newletter</h2>
  </div>
</section>
<%= render "form", susciption: @susciption %>

<%# TODO Rails links here %>
<div class="languages">
  <span onclick="window.location.href = '/es'"><%= image_tag("spain.gif", :alt => "Spain") %></span>
  <span onclick="window.location.href = '/en'"><%= image_tag("us.gif", :alt => "US") %></span>
  <span onclick="window.location.href = '/fr'"><%= image_tag("france.gif", :alt => "France") %></span>
</div>
