<section class="bannerSub">

  <div class="bannerSub__imagelogo center">
    <%= image_tag("micolet-logo.svg", :alt => "Logo Image") %>
    <span><%= I18n.t("str_mode_new_garanty") %></span>
  </div>

  <div class="center">
    <h1><%= I18n.t("str_welcome_country_launch") %></h1>
    <h1><%= I18n.t("str_subscribe_receive_newletter") %></h1>
    <h2></h2>
  </div>
</section>
<%= render "form", susciption: @susciption %>

<%# TODO Rails links here %>
<div class="languages">
  <span onclick="window.location.href = '/es'"><%= image_tag("spain.gif", :alt => "Spain") %></span>
  <span onclick="window.location.href = '/en'"><%= image_tag("us.gif", :alt => "US") %></span>
  <span onclick="window.location.href = '/fr'"><%= image_tag("france.gif", :alt => "France") %></span>
</div>
