<p style="color: green"><%= notice %></p>

<%= render @susciption %>

<div>
  <%= link_to "Edit this susciption", edit_susciption_path(@susciption) %> |
  <%= link_to "Back to susciptions", susciptions_path %>

  <%= button_to "Destroy this susciption", @susciption, method: :delete %>
</div>
