<div id="<%= dom_id subscription %>">
  <p>
    <strong>Email:</strong>
    <%= subscription.email %>
  </p>

  <p>
    <strong>Iswomen:</strong>
    <%= subscription.isWomen %>
  </p>

  <p>
    <strong>Ismen:</strong>
    <%= subscription.isMen %>
  </p>

  <p>
    <strong>Ischildren:</strong>
    <%= subscription.isChildren %>
  </p>

</div>
